# software files
spm12-r7771*
scripts/spm12-r7771/**
*.patch
scripts/third_party/**
*.zip


# Data from OpenNeuro
*data*/
*output*/
ds*/


# Output from SPM / Octave
*.mat
*.pdf
*.ps
*.tex
*.txt


# VScode files
.vscode/*
*workspace*
